dotfiles/zsh/history
dotfiles/X11/Xauthority
dotfiles/.config/dwl/run/log.txt

dotfiles/private
dotfiles/private.old

*.log
*/**/LOG
*/**/LOG.old
dotfiles/copyq/copyq-bak.conf
dotfiles/copyq/copyq-commands.ini.bak
dotfiles/copyq/copyq_geometry.ini
dotfiles/copyq/copyq.pub
dotfiles/copyq/copyq.lock
dotfiles/copyq/copyq_tabs.ini
dotfiles/copyq/copyq_tab*
dotfiles/copyq/copyq-scripts.ini
*.ldb

*.o
*-protocol.c
*-protocol.h

artix/artools-workspace/buildiso

scripts/update-arch.sh

scripts/auto-download/temp
scripts/auto-download/videos
scripts/auto-download/anime
scripts/auto-download/ani-hsts
scripts/auto-download/downloaded.txt
scripts/auto-download/log.txt
scripts/auto-download/subs.sh




