[submodule "dotfiles/.config/dwl/dpms-off"]
	path = dotfiles/.config/dwl/dpms-off
    url = https://github.com/lilydjwg/dpms-off
[submodule "dotfiles/.config/dwl/dwl-dotfiles"]
	path = dotfiles/.config/dwl/dwl-dotfiles
    url = https://github.com/krypciak/dwl-dotfiles
[submodule "dotfiles/.local/share/omf"]
	path = dotfiles/.local/share/omf
    url = https://github.com/oh-my-fish/oh-my-fish
[submodule "dotfiles/.config/dwl/somebar"]
	path = dotfiles/.config/dwl/somebar
	url = https://github.com/krypciak/somebar
[submodule "dotfiles/.config/dwl/someblocks"]
	path = dotfiles/.config/dwl/someblocks
	url = https://github.com/krypciak/someblocks
