# Auto detect text files and perform LF normalization
* text=auto
dotfiles/chromium/** linguist-vendored
dotfiles/awesome/lain/** linguist-vendored
dotfiles/BetterDiscord/** linguist-vendored
*.9 linguist-vendored
*.10177 linguist-vendored
dotfiles/gtk-3.0/** linguist-vendored
dotfiles/gtk-4.0/** linguist-vendored


