[Desktop Entry]
Name=Update arch
Comment=paru -Syu
Exec=alacritty --class 'System update' --title 'System update' -e paru -Syu
Terminal=false
Icon=USER_HOME/.config/dotfiles/resources/Archlinux-icon-crystal-64.svg
Type=Application
